@use 'styles/constants/colors';

.home {
  .articles {
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: calc(100vh - 198px);
    padding: 20px;
    overflow: scroll;
    background: colors.$BACKGROUND;
  }
}
