@use '/src/styles/constants/colors';
@use '/src/styles/constants/levels';

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loading {
  z-index: levels.$LOADING;
  display: flex;
  align-items: center;
  justify-content: center;

  .spinner {
    position: fixed;
    top: 40vh;
    width: 64px;
    height: 64px;
    border: 8px solid colors.$BLUE;
    border-top: 8px solid colors.$GRAY;
    border-radius: 100%;
    animation: spinner 1s linear infinite;
  }
}
